[submodule "library/3rdparty/entt"]
	path = library/3rdparty/entt
	url = https://github.com/skypjack/entt
[submodule "bench/3rdparty/nanobench"]
	path = bench/3rdparty/nanobench
	url = https://github.com/martinus/nanobench
[submodule "library/3rdparty/glfw"]
	path = library/3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "library/3rdparty/bgfx.cmake"]
	path = library/3rdparty/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
